html, body {
    margin:0;
    padding:0;
}

div #Header {
    position: relative;
}

#Header img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 300px;
  }

nav {
    background: #bc8174;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 1mm;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9e6e1;
}

h1
 {
    color: #2f2e33;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    bottom: 8px;
    right: 16px;

}

#content img {
    max-width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
 
}

figure figcaption {
    font-size: 14px;
    text-align: right;
}

ul {
    text-align: center;
}
ul > li {
    padding-right: 15px; 
    display: inline-block;
}

p {
    margin-left: 50mm;
    margin-right: 15mm;
    text-align: justify;
    padding-top: 25px;
}

footer {
    background-color: #bc8174;
    color: #2f2e33; 
    display: block;
    margin: 0px;
    text-align: center;
    width: auto;
    
}


footer h5 {
    margin-bottom: 1px;
}

footer p {
    text-align: center;
    margin: 0px;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}

a {
    color: #2f2e33;
}

button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #2f2e33;
  color: #e9e6e1;
  border: none;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}