

#headerBackground img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 300px;
    position: relative;
  }

img h1 {
    position: absolute;
}

nav {
    background: #bee3db;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #faf9f9;
    font-size: 45px;
    font-weight: bold;
}

#content img {
    max-width: 40%;
    height: auto;
}

figcaption {
    font-size: 14px;
    
}

h3 {
    font-style: oblique;
}

body {
    background-color: #555b6e;
}

ul {
    font-align: center;
}
ul > li {
    padding-right: 15px; 
    display: inline-block;
}

p {
    margin-left: 50mm;
    margin-right: 15mm;
    text-align: justify;
}

footer {
    background-color: #ffd6ba;
    color: #555b6e; 
    display: block;
    margin: 0px;
    text-align: center;
}
